[user]
	name = 4gn3s
	email = agnieszk1@gmail.com
[merge]
	tool = gvimdiff
[core]
	autocrlf = true
	editor = gvim
	excludesfile = C:\\Users\\Agnieszka\\Documents\\gitignore_global.txt
[gui]
	recentrepo = C:/Users/Agnieszka/Documents/Visual Studio 2010/Projects/Race
	recentrepo = C:/Users/Agnieszka/Documents/Visual Studio 2010/Projects/proof_of_concept_opencv
	recentrepo = C:/Users/Agnieszka/Desktop/MiNI PW/SEMESTR VII/teoria algorytmów i obliczeń/implementacja
	recentrepo = "C:/Users/Agnieszka/Desktop/MiNI PW/SEMESTR VIII/modelowanie geometryczne/modelowanie_geom_c#/projekt"
[alias]
	st = status
	ci = commit
	br = branch
[diff]
	guitool = gvimdiff
